{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block page_content %}
    </br>
    </br>
    </br>
    <h1 style="text-align:center;">学生信息表</h1>
    <table class="table table-bordered">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>系</th>
    </tr>
        {% for i in u %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
                <td>{{ i[4] }}</td>
            </tr>
    {% endfor %}
    </table>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    <h1 style="text-align:center;">课程信息表</h1>
    <table class="table table-bordered">
    <tr>
        <th>课程编号</th>
        <th>课名</th>
        <th>选课人数</th>
        <th>学分</th>
    </tr>
        {% for i in v %}
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}